{
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.json", "*.html"],
      "options": {
        "parser": "flow"
      }
    }
  ],
  "plugins": ["prettier/prettier"]
}
